.badges_wrapper {

    display: flex;
    justify-content: space-evenly;
    width: 60%;
    position: absolute;
    top:10%;
    right: -5%;
    transform: rotate(40deg);
    background-color: #df565a;

}

.badge {
    background-color: #df565a;
    color: white;
}
